@font-face {
    font-family: Old-English;
    src: url(Canterbury.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    background-color: rgb(30, 29, 29);
    height: 300vh;
    cursor: crosshair;
 
}

.pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
    margin-top: 25px; /* Adjust margin to separate from heading */
}

#PDF {
    width: 40%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
    border: none; /* Remove the border */
}

.hero {
    width: 100%;
    position: sticky;
    border-radius: 20px;
    padding: 8px;
    overflow: hidden;
    will-change: filter, transform;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 5%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}

.social-media {
    margin: 0 auto 0 0px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid gray;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 10px;
    transition: .45s;
}

.social-media a:hover {
    background: lightslategray;
}


.social-media a i {
    font-size: 20px;
    color: gray;
    transition: .45s;
}

.social-media a:hover i {
    color: white;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    text-shadow: 0 0 10px black;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

.content h1 {
    font-size: 160px;
    color: white;
    font-weight: 600;
    transition: 1s;
}

#special::first-letter {
    font-family: Old-English;
    font-size: 100px;
    font-weight: 600;
}

#special:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;
}

#special {
    font-family: Palatino, URW Palladio L, serif;
    font-size: 70px;
    font-weight: 800;
}

.content a {
    text-decoration: none;
    font-family: cursive;
    display: inline-block;
    color: white;
    font-size: 18px;
    border: 3px solid white;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 5px;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(max-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

section {
    position: relative;
    height: 200vh;
    width: 100%;
}

section:nth-child(2) {
    top: -100vh;
}

section:nth-child(3) {
    top: -200vh;
}

section:nth-child(4) {
    top: -300vh;
    height: 100vh;
}

.sticky {
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 3px;
    padding: 18px;
    will-change: filter, transform;
}

.container1 {
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 2rem;
    background-image: url("helen-ngoc-n-xJQ9nSIiJq4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}

.container2 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 2rem;
    background-image: url("jj-ying-7JX0-bfiuxQ-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container2 h1 {
    color: black; /* Adjust color if needed */
    position: absolute; /* Position the heading absolutely within the container */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    margin: 20px; /* Add margin to avoid touching the edges */
    
    
}

.container3 {
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 2rem;

    background-image: url(gradient-7258997_1280.webp);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    text-align: center;
}

.container3 h1 {
    text-align: left;
}

.about-me h1 {
    font-size: 45px;
    font-weight: 300;
    font-family: Palatino, URW Palladio L, serif;
    margin-left: 20px;
}

.about-me p {
    color: black;
    margin: 35px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.project-card {
    width: 20%;
    height: 50%;
    background-color: #2f2f2f;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 4px 8px rgb(255, 0, 0);
    margin: 50px;
    margin-bottom: 200px;
}

.project-card img {
    width: 100%;
    height: 45%;
    object-fit: cover;
    border-radius: 10px;
}

.project-card h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 1.2em;
    color: white;
}

.project-card ul {
    list-style-type: disc;
    padding-left: 20px;
}

.project-card ul li {
    margin: 5px 0;
    color: white;
}

.content-container {
    position: relative; /* Enable positioning of child elements */
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the start (left) */
    margin-right: 20px; /* Adjust the left margin as needed */
}

.circle-container {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid white;
}

#new-circle {
    background-color: white;
    position: absolute; /* Position relative to the nearest positioned ancestor */
    width: 80px;
    height: 80px;
    top: -20px; /* Adjust as needed to place above */
    right: -70px; /* Adjust as needed to place to the right */
    z-index: 2; /* Ensure it is above the existing circle */
}

#new-circle:hover {
    transform: scale(1.2);
}

.circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.text-container {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.text-container h1 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.about-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    margin-left: 10px; /* Adjust the left margin as needed */
}

.about-container h1{
    padding: 10px;
    font-size: 50px;
    
}

.about-container p{
    margin: 10px;
    color: #333;
    font-family: tahoma;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}

.languages {
    padding: 10px;
   
    display: flex;
    align-items: center; /* Center align items vertically */
    gap: 10px; /* Space between inline items */
}

.languages h2 {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid white;
    margin: 0; /* Remove default margins from <h2> */
}

#Heading{
    position: absolute;
    font-family: Palatino, URW Palladio L, serif;
    font-size: 50px;
}
